<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coreflow.shop.admin.login.AdminLoginMapper">

	<select id="login" resultType="com.coreflow.shop.admin.login.AdminLoginVO" parameterType="String">
	
	 select 
	 	ad_userid, 
	 	ad_passwd, 
	 	login_date 
	 from 
	 	admin
	 where 
	 	ad_userid = #{ad_userid}
	
	</select>


</mapper>