<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coreflow.shop.admin.member.AdMemberMapper">


<select id="member_list" resultType="com.coreflow.shop.common.dto.MemberDTO" parameterType="com.coreflow.shop.common.utils.SearchCriteria">
		select 
			mbsp_name,
			mbsp_gender,
			mbsp_id,
			mbsp_lastlogin,
			mbsp_phone,
			mbsp_email,
			mbsp_datesub,
			mbsp_point
		from 
			members
		where
		1 > 0
		<include refid="search"></include>
		<include refid="genderType"></include>
		<include refid="period"></include>
		limit 
			#{cri.pageStart}, #{cri.perPageNum}
	</select>				
	
		
			
<select id="getTotalCount" resultType="int">
	
		select
			count(*)
		from 
			members
		where
			1 > 0
			<include refid="search"></include>
			<include refid="genderType"></include>
			<include refid="period"></include>	
	</select>			
		

<sql id="search">
	<if test="cri.searchType != null">
			<if test="cri.searchType == 'n'.toString()">
				and mbsp_name like concat('%', #{cri.keyword}, '%')
			</if>
			<if test="cri.searchType == 'i'.toString()">
				and mbsp_id like concat('%', #{cri.keyword}, '%')
			</if>
			<if test="cri.searchType == 'p'.toString()">
				and mbsp_phone like concat('%', #{cri.keyword}, '%')
			</if>
			<if test="cri.searchType == 'ni'.toString()">
				and ( mbsp_name like concat('%', #{cri.keyword}, '%')
				or
				mbsp_id like concat('%', #{cri.keyword}, '%') )
			</if>
		</if>
</sql>

<sql id="genderType">
	<if test="genderType != null">
			<if test="genderType == 'M'.toString()">
				and mbsp_gender = 'M'
			</if>
			<if test="genderType == 'F'.toString()">
				and mbsp_gender = 'F'
			</if>
		</if>
</sql>

<sql id="period">
  		<if test="period != null and !period.equals('') and start_date != null and !start_date.equals('') and end_date != null and !end_date.equals('')"> 		
 			<if test="period == 'join_date'.toString()">
 				<![CDATA[
	   			and mbsp_datesub >= date(#{start_date}) and mbsp_datesub < date(#{end_date}) + 1
	   			]]>
	   		</if>
		   	<if test="period == 'login_date'.toString()">
		   		<![CDATA[
		   		and mbsp_lastlogin >= date(#{start_date}) and mbsp_lastlogin < date(#{end_date}) +1
		   		]]>		   		
		   	</if> 		 		
 		</if>	
 	</sql>


<delete id="member_sel_delete_1" parameterType="Map">
 
 		delete from 
 			members
 		where 
 			mbsp_id 
 		in
 	 	<foreach collection="member_id_arr" item="id" open="("  separator="," close=")" >
 	
 		#{id}
 		</foreach>
 
 </delete>

<delete id="member_delete" parameterType="String">

		delete from
			members
		where
			mbsp_id = #{mbsp_id}

</delete>


<select id="member_edit_form" resultType="com.coreflow.shop.common.dto.MemberDTO" parameterType="String">

 	select 
	 	mbsp_id,
		mbsp_name,
		mbsp_email,
		mbsp_zipcode,
		mbsp_address,
		mbsp_addressdetail,
		mbsp_phone,
		mbsp_gender,
		mbsp_receive,
		mbsp_birthdate,
		mbsp_datesub, 
		mbsp_updatedate 
	from 
		members
	where 
		mbsp_id = #{mbsp_id}

</select>

<update id="member_edit_save" parameterType="com.coreflow.shop.common.dto.MemberDTO" >

	update 
		members
	set 
		mbsp_name = #{mbsp_name},
		mbsp_email = #{mbsp_email}, 
		mbsp_zipcode = #{mbsp_zipcode}, 
		mbsp_address = #{mbsp_address}, 
		mbsp_addressdetail = #{mbsp_addressdetail}, 
		mbsp_phone = #{mbsp_phone},
		mbsp_gender = #{mbsp_gender},
		mbsp_receive = #{mbsp_receive},
		mbsp_birthdate = #{mbsp_birthdate},
		mbsp_updatedate = now()
	where 
		mbsp_id = #{mbsp_id}

</update>



</mapper>