<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ★역할: 카테고리 조회/등록/수정/삭제 SQL 모음 -->
<!-- ★주의: category_db 스키마를 명시적으로 사용 -->
<!-- 매퍼 주소 확인  -->
<mapper namespace="com.coreflow.shop.admin.category.AdCategoryMapper"> 

<!-- 1차 카테고리  --> 

<select id="FirstCategorystList" resultType="com.coreflow.shop.common.dto.CategoryDTO">
select
	cate_code,
	cate_prtcode,<!-- 부모카테고리 데이터 디비버확인 -->
	cate_name,
	cate_order,
	cate_code,
	pro_name 
from 
	categories 
where cate_prtcode is null 
order by  
	cate_order asc
  </select> 
  
  <select id="SecondCategoryList" parameterType="Integer" resultType="com.coreflow.shop.common.dto.CategoryDTO">
  select 
CATE_CODE,
CATE_PRTCODE,  
CATE_NAME 
from categories 
where CATE_PRTCODE = #{cate_prtcode} 
  
  </select>  
  

  
  <update id="arrayCategory" parameterType="map">
		
		update
			categories
		set
			cate_order = #{order}
		where
			cate_code = #{cate_code}
	
	
	</update>
	
	<insert id="inputFirstCategory" parameterType="String">
	    INSERT INTO categories (cate_prtcode, cate_name, cate_order)
	    VALUES (null, #{cate_name}, 1)
    </insert>
    
    <update id="modifyFirstCategory" parameterType="com.coreflow.shop.common.dto.CategoryDTO">
    
    	update
    		categories
    	set
    		cate_name = #{cate_name}
    	where
			cate_code = #{cate_code}
    
    </update>
    
    <insert id="plusSecondCategory" parameterType="com.coreflow.shop.common.dto.CategoryDTO">
    
    	insert into categories (cate_prtcode, cate_name, cate_order)
    	values (#{cate_prtcode}, #{cate_name}, 1)
    
    </insert>
    
    <update id="secondModifyCategory" parameterType="ccom.coreflow.shop.common.dto.CategoryDTO">
    	
    	update 
    		categories 
    	set
    		cate_name = #{cate_name},
    		cate_prtcode = #{cate_prtcode}
    	where
			cate_code = #{cate_code}
    </update>
    
    <delete id="deleteModifyCategory" parameterType="Integer">
    
    	delete from 
    		categories    
    	where
			cate_code = #{cate_code}
   
    </delete>
    
     
</mapper>
 

</mapper>

