<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coreflow.shop.order.PaymentMapper">

	<insert id="payment_insert">
	
		insert into payment
			(
			ord_code,
			mbsp_id,
			payment_method,
			payment_price,
			payment_status
			)
		values
			(
			#{ord_code},
			#{mbsp_id},
			#{payment_method},
			#{payment_price},
			#{payment_status}	
			)
	
	</insert>
	
</mapper>