<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coreflow.shop.order.ShippingMapper">
	
	<insert id="shipping_insert">
		
		insert into order_shipping
			(
			ord_code,
			shipping_recipient,
			shipping_phone,
			shipping_zipcode,
			shipping_address,
			shipping_address2
			)
		values
			(
			#{ord_code},
			#{shipping_recipient},
			#{shipping_phone},
			#{shipping_zipcode},
			#{shipping_address},
			#{shipping_address2}
			)	
		
	</insert>
	
</mapper>